<div class="alert alert-danger" ng-show="warning">{{warning}}</div>
<div class="row">
    <div class="span12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="span3">Name</th>
                    <th class="span9">Text</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="msg in messages">
                    <td class="span3" ng-bind="msg.name"></td>
                    <td class="span9" ng-bind="msg.text"></td>
                </tr>
            </tbody>
        </table>
        <div class="row controls">
            <form ng-submit="send()">
                <div class="span3"><input type="text" class="input-block-level" ng-model="msg.name" ng-disabled="nameTextboxDisabled" placeholder="Your Name"></div>
                <div class="input-append span9">
                    <input type="text" class="span8" ng-model="msg.text" placeholder="Message">
                    <input type="submit" class="btn btn-primary" value="Send" ng-disabled="!msg.text">
                </div>
            </form>
        </div>
    </div>
</div>
